<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Vue JS Tutorial</title>
</head>
<body>
   
   

    <div id="app">
      <ul>
        <li v-for="(bird, index) in birds">
          {{bird}} - {{index}}
        </li>
      </ul>

      <hr>

      <ul>
        <li v-for="person in people">
          <div v-for="(value, key , index) in person"> 
              {{key}}: {{value}} - Index:{{index}}
          </div>
        </li>
      </ul>
    </div>


    <script src="https://unpkg.com/vue@3"></script>
    <script src="script.js"></script>

    
</body>
</html>