<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Vue JS Tutorial</title>
</head>
<body>
    <div id="app">
        <p> {{ fullName() }}</p>
        <p><a v-bind:href="url" target="_blank" > Goggle </a></p>

        <!-- We Can Use : for v-bind -->
        
        <hr>

        <label for="">first Name</label>
        <input type="text" v-model="firstName"><br> 

        <label for=""> Last Name</label>
        <input type="text" v-model="lastName">
       
      
        
    </div>

    <!-- <div id="apptwo">
        {{ firstName }}
        {{ lastName }}
        
    </div> -->


    <script src="https://unpkg.com/vue@3"></script>
    <script src="script.js"></script>

    
</body>
</html>